/* -------------------------------------------------------- */
/* MINI CSS RESET */
/* -------------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* -------------------------------------------------------- */
/* DEFINE VARIABLES */
/* -------------------------------------------------------- */

:root {
  --main-font: sans-serif;
  --title-font: sans-serif;

  --main-color: #ffbb56;
  --secondard-color: #80d1a1;
  --accent: #8a8ef2;
}

/* -------------------------------------------------------- */
/* GLOBAL STYLES */
/* -------------------------------------------------------- */

body {
  font-family: var(--main-font);
  color: white;
  background: linear-gradient(#131133, #322a8b, #131133);
  background-size: cover;
  background-position: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title-font);
}

/* -------------------------------------------------------- */
/* YOUR CUSTOM STYLES */
/* -------------------------------------------------------- */

/* table */
td,
th {
  padding: 0.25em 0.5em;
  margin: 0 2em;
  text-align: center;
}
.update {
  color: white;
  background: var(--secondard-color);
  padding: 0.5em;
  border: none;
  border-radius: 3px;
}
.delete {
  color: white;
  background: var(--accent);
  padding: 0.5em;
  border: none;
  border-radius: 3px;
}

/* graph */

.slice text {
  font-size: 10pt;
  font-family: sans-serif;
}

#expense {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.expense-buttons {
  display: flex;
  justify-content: space-between;
  margin: 2em;
}
.expense-buttons button {
  margin: 2em;
}
.tables {
  display: flex;
  width: 80vw;
  justify-content: center;
  align-items: center;
}

#piechart {
  width: 50%;
  position: relative;
  top: 6em;
}
#table {
  width: 50%;
  margin: 0 7em;
}

@media only screen and (max-width: 600px) {
  #expense {
    flex-direction: column;
  }
}
