/* -------------------------------------------------------- */
/* MINI CSS RESET */
/* -------------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* -------------------------------------------------------- */
/* DEFINE VARIABLES */
/* -------------------------------------------------------- */

:root {
  --main-font: serif;
  --title-font: sans-serif;

  --main-color: white;
  --secondard-color: red;
  --accent: blue;
}

/* -------------------------------------------------------- */
/* GLOBAL STYLES */
/* -------------------------------------------------------- */

body {
  font-family: var(--main-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title-font);
}

/* -------------------------------------------------------- */
/* YOUR CUSTOM STYLES */
/* -------------------------------------------------------- */
